* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* ====== share style ====== */
body {
  background-color: black;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.cmn_btn {
  width: 244px;
  padding: 16px 40px;
  border: 1px solid var(--brand_color);
  border-radius: 42px;
  color: var(--primary_color);
  font-size: 1.125rem;
  font-weight: 600;
  background-color: var(--brand_color);
  text-align: center;
}
@font-face {
  font-family: miama_regular;
  src: url(../fonts/Miama.otf);
}
.container {
  width: 56%;
  margin: 0 auto;
}
.color {
  color: #ffffff;
}
:root {
  --brand_color: #e6533c;
  --primary_color: #ffffff;
  --seconday_color: rgba(255, 255, 255, 0.5);
}
.cmn_text > h3 {
  color: var(--primary_color);
  font-size: 48px;
  font-weight: 900;
}
.cmn_text > p {
  color: var(--seconday_color);
  font-family: Inter;
  font-weight: 400;
  margin-top: 14px;
}
.para {
  color: var(--seconday_color);
  font-size: 14px;
  font-weight: 400;
}
img {
  vertical-align: middle;
}
/* ====== nav part start ========= */
.menu_barIcon {
  display: none;
}
.menu_barIcon i {
  color: var(--primary_color);
}
header {
  background: linear-gradient(
    0deg,
    rgb(17, 17, 17) 0%,
    rgb(17, 17, 17) 0%,
    rgba(119, 119, 119, 0) 100%,
    rgb(17, 17, 17) 100%
  );
}
nav {
  padding: 57px 0;
}
nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > .container ul {
  display: flex;
  gap: 67px;
  align-items: center;
  justify-content: center;
}
nav > .container h3 {
  color: var(--brand_color);
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}
nav > .container ul li a {
  padding: 12px 24px;
  border-radius: 46px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s;
}
nav > .container ul li a:hover {
  background: rgb(230, 83, 60);
}
/* ====== nav part end ========= */

/* ====== banner part start ========= */
#banner > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner > .container > .bannner_text {
  width: 50%;
}
#banner > .container > .bannner_text h1 {
  color: var(--primary_color);
  font-size: 78px;
  font-weight: 900;
  line-height: 1.1;
}
#banner > .container > .bannner_text > .button {
  display: flex;
  gap: 14px;
  align-items: center;
}
#banner > .container > .bannner_text > .button a {
  transition: background-color 0.4s;
}
#banner > .container > .bannner_text > .button a:hover {
  background-color: transparent;
  border-color: var(--primary_color);
}
#banner > .container > .bannner_text h1 > span {
  font-family: miama_regular;
  font-size: 150px;
  line-height: 0;
  font-weight: 400;
}
#banner > .container > .bannner_text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  margin: 28px 0;
}
#banner > .container > .banner_img {
  position: relative;
}
#banner > .container > .banner_img img {
  width: 100%;
}
.box_txt1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 193px;
  height: 98px;
  right: -68px;
  top: 125px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}
.box_txt2 {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 193px;
  height: 98px;
  bottom: 63px;
  left: -95px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}
.box_txt1 h3 {
  color: var(--primary_color);
  font-size: 40px;
  font-weight: 900;
}
.box_txt1 p {
  color: var(--seconday_color);
  font-size: 13px;
  font-weight: 400;
}
.box_txt2 > .circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--brand_color);
}
.box_txt2 > .circle i {
  display: none;
}
.box_txt2 h3 {
  color: var(--primary_color);
  font-size: 24px;
  font-weight: 900;
}
.box_txt2 p {
  color: var(--seconday_color);
  font-size: 16px;
  font-weight: 400;
}
/* ====== banner part end ========= */

/* ====== about_us part start ======= */
#about_us {
  padding: 50px 0;
}
#about_us > .container {
  background-color: rgb(34, 34, 34);
  padding: 20px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  overflow: hidden;
}
#about_us > .container .img_div {
  position: relative;
  width: 50%;
}
#about_us > .container .text_div {
  width: 50%;
}
#about_us > .container .img_div img {
  width: 70%;
}
#about_us > .container .img_div .child_img {
  position: absolute;
  top: 74%;
  left: 68%;
  width: 55%;
  transform: translate(-50%, -50%);
}
#about_us > .container .img_div .child_img img {
  width: 100%;
}
#about_us > .container .text_div > h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--brand_color);
}
#about_us > .container .text_div > h2 {
  font-size: 42px;
  font-weight: 600;
  color: var(--primary_color);
  margin: 20px 0 30px;
}
#about_us > .container .text_div > p {
  font-size: 16px;
  font-weight: 400;
  color: var(--seconday_color);
  margin-bottom: 30px;
}
.about_btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
#about_us .arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_btn .floatarrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: left 0.4s;
}
.about_btn:hover .aboutarrow {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.about_btn:hover .floatarrow {
  left: 50%;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.1s;
}
/* ====== about_us part end ======= */

/* ====== habbit part start ========= */
#habbit {
  padding: 100px 0;
}
#habbit > .container .cmn_text > h3 {
  text-align: center;
}
#habbit > .container .cmn_text > p {
  width: 623px;
  margin: 14px auto 0;
  text-align: center;
}
#habbit > .container .parent_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 58px;
}
#habbit > .container .parent_grid > div {
  width: 231px;
  text-align: center;
}
#habbit > .container .parent_grid .img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
#habbit > .container .parent_grid h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 14px;
}

/* ====== habbit part end ========= */

/* ====== run part start ========= */
#run > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 54px;
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
}
#run > .container > .run_text {
  width: 443px;
}
#run > .container > .run_text h3 {
  color: var(--primary_color);
  font-size: 48px;
  font-weight: 900;
}
#run > .container > .run_text p {
  margin: 14px 0 34px;
}
#run > .container .img {
  width: 366px;
  border-radius: 18px;
  overflow: hidden;
}
#run > .container .img img {
  width: 100%;
}
/* ====== run part end ========= */

/* ====== calculator part start ========= */
#calculator {
  padding: 78px 0 88px;
}
#calculator > .container {
  width: 671px;
  margin: 0 auto 88px;
}
#calculator > .wrap_container .cmn_text > h3 {
  font-size: 1.75rem;
}
#calculator > .wrap_container > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#calculator > .wrap_container table {
  margin-top: 52px;
}
#calculator > .wrap_container table tr th {
  padding: 15px 18px;
  color: var(--primary_color);
  font-size: 16px;
  font-weight: 500;
}
#calculator > .wrap_container table tr td {
  padding: 15px 18px;
  color: var(--seconday_color);
  font-size: 14px;
  font-weight: 400;
}
#calculator > .wrap_container .grid_parent {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 34px;
  margin-bottom: 34px;
}
#calculator > .wrap_container .grid_parent .field {
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  border: none;
  color: var(--seconday_color);
}
#calculator > .wrap_container .grid_parent .custom_wrapper {
  position: relative;
}
#calculator > .wrap_container .grid_parent select {
  width: 100%;
  appearance: none;
  color: var(--seconday_color);
}
#calculator > .wrap_container .grid_parent option {
  background: rgb(34, 34, 34);
}
#calculator > .wrap_container .grid_parent .field::placeholder {
  color: var(--seconday_color);
}
#calculator > .wrap_container .custom-select-wrapper {
  position: relative;
  grid-column: span 2;
}
#calculator > .wrap_container .custom-select {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--primary_color);
}

/* ====== calculator part end ========= */

/* ====== team part start ========= */
#team > .container .cmn_text h3 {
  text-align: center;
}
#team > .container .cmn_text > p {
  width: 616px;
  text-align: center;
  margin: 14px auto 58px;
}
#team > .container .grid_parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 40px;
}
#team > .container .grid_parent .field_img img {
  width: 100%;
  height: 100%;
}
#team > .container .grid_parent .field_img {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
}
#team > .container .grid_parent .field_img .img_text {
  position: absolute;
  left: 13px;
  bottom: 15px;
}
#team > .container .grid_parent .field_img .img_text h3 {
  color: var(--primary_color);
  font-size: 20px;
}
#team > .container .grid_parent .field_img .img_text p {
  color: var(--seconday_color);
  font-size: 14px;
}

/* ====== team part end ========= */

/* ====== footer part start ========= */
footer {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 66px 0 35px;
}
footer > .container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}
footer > .hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer > .container > .text_div {
  width: 443px;
}
footer > .container > .text_div h3 {
  color: var(--brand_color);
  font-weight: 800;
  font-size: 70px;
  font-style: italic;
  margin-bottom: 20px;
}
footer > .container ul li {
  color: var(--primary_color);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
footer > .container ul li:first-child {
  margin-bottom: 39px;
}
footer > .container ul li a {
  color: var(--seconday_color);
  font-size: 23px;
  font-weight: 400;
}
footer .footText {
  padding: 35px 0;
  display: block;
}
footer .footText p {
  text-align: center;
  color: var(--seconday_color);
  font-size: 20px;
  font-weight: 400;
}
/* ====== footer part end ========= */

/* media query start from here */
@media screen and (min-width: 797px) and (max-width: 1220px) {
  /* share style */
  .container {
    width: 65%;
  }
  /* ======nav part start===== */
  nav > .container ul {
    gap: 24px;
  }
  /* ======nav part end===== */

  /* ======banner part start===== */
  #banner > .container {
    flex-direction: column;
  }
  .cmn_btn {
    padding: 16px 20px;
    font-size: 1rem;
  }
  #banner > .container > .bannner_text {
    width: 100%;
  }
  #banner > .container > .bannner_text h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 1.1;
  }
  #banner > .container > .bannner_text h1 > span {
    font-size: 72px;
  }
  .cmnt_btn {
    padding: 16px 20px;
    font-size: 15px;
  }
  .box_txt1 {
    position: absolute;
    width: 145px;
    height: 74px;
    left: 54%;
    top: 20px;
  }
  .box_txt2 {
    width: 155px;
    height: 73px;
    bottom: 42%;
    left: 0%;
  }
  .box_txt1 h3 {
    font-size: 30px;
  }
  .box_txt1 p {
    font-size: 10px;
  }
  .box_txt2 h3 {
    font-size: 18px;
  }
  .box_txt2 p {
    font-size: 12px;
  }
  .box_txt2 > .circle i {
    display: block;
    color: var(--primary_color);
  }

  .cmn_text > h3 {
    color: var(--primary_color);
    font-size: 32px;
    font-weight: 900;
  }
  /* ======banner part end===== */
  /* ======habbit part start===== */
  .cmn_text > h3 {
    font-size: 32px;
  }
  #habbit > .container .cmn_text > p {
    width: 100%;
  }
  #habbit > .container .parent_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  #habbit > .container .parent_grid > div {
    width: 231px;
    margin: 0 auto;
  }
  /* ======habbit part end===== */
  /* ======run part start===== */
  #run > .container {
    gap: 30px;
    align-items: stretch;
  }
  #run > .container > .run_text {
    width: 100%;
  }
  #run > .container > .run_text h3 {
    font-size: 32px;
  }
  #run > .container .img {
    width: 100%;
  }
  #run > .container .img img {
    height: 100%;
  }
  #run .cmn_btn {
    width: 100%;
  }
  /* ======run part end===== */

  /* ======calculator part start===== */
  #calculator > .container {
    width: 65%;
  }
  #calculator > .wrap_container > .container {
    flex-direction: column;
    align-items: start;
  }
  #calculator > .wrap_container .bmi {
    width: 100%;
    margin-top: 42px;
  }
  #calculator > .wrap_container .grid_parent .field {
    width: 100%;
  }
  /* ======calculator part end===== */

  /* ======team part start===== */
  #team > .container .cmn_text > p {
    width: 100%;
  }
  #team > .container .grid_parent {
    margin-bottom: 30px;
  }
  /* ======team part end===== */
  /* ======= footer part start ======== */
  footer > .container {
    grid-template-columns: repeat(2, 1fr);
  }
  footer > .container > .text_div {
    width: 100%;
    margin-bottom: 20px;
    grid-column: span 2;
  }
  /* ======= footer part end ======== */
}
@media screen and (min-width: 577px) and (max-width: 796px) {
  /* share style */
  .container {
    width: 65%;
  }
  /* ======nav part start===== */
  .menu_barIcon {
    display: block;
  }
  nav > .container ul {
    display: none;
  }
  /* ======nav part end===== */

  /* ======banner part start===== */
  #banner > .container {
    flex-direction: column;
  }
  .cmn_btn {
    padding: 16px 20px;
    font-size: 1rem;
  }
  #banner > .container > .bannner_text {
    width: 100%;
  }
  #banner > .container > .bannner_text h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 1.1;
  }
  #banner > .container > .bannner_text h1 > span {
    font-size: 72px;
  }
  .cmnt_btn {
    padding: 16px 20px;
    font-size: 15px;
  }
  .box_txt1 {
    position: absolute;
    width: 145px;
    height: 74px;
    left: 54%;
    top: 20px;
  }
  .box_txt2 {
    width: 155px;
    height: 73px;
    bottom: 42%;
    left: 0%;
  }
  .box_txt1 h3 {
    font-size: 30px;
  }
  .box_txt1 p {
    font-size: 10px;
  }
  .box_txt2 h3 {
    font-size: 18px;
  }
  .box_txt2 p {
    font-size: 12px;
  }
  .box_txt2 > .circle i {
    display: block;
    color: var(--primary_color);
  }

  .cmn_text > h3 {
    color: var(--primary_color);
    font-size: 32px;
    font-weight: 900;
  }
  /* ======banner part end===== */
  /* ====aout_us part start ======= */
  #about_us > .container {
    flex-direction: column;
    text-align: center;
  }
  #about_us > .container .img_div {
    width: 100%;
  }
  #about_us > .container .text_div {
    width: 100%;
  }
  #about_us > .container .text_div > h2 {
    font-size: 24px;
  }
  .about_btn {
    margin: 0 auto;
  }
  /* ====aout_us part end ======= */
  /* ======habbit part start===== */
  .cmn_text > h3 {
    font-size: 32px;
  }
  #habbit > .container .cmn_text > p {
    width: 100%;
  }
  #habbit > .container .parent_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  #habbit > .container .parent_grid > div {
    width: 231px;
    margin: 0 auto;
  }
  /* ======habbit part end===== */
  /* ======run part start===== */
  #run > .container {
    flex-direction: column;
  }
  #run > .container > .run_text {
    width: 100%;
  }
  #run > .container > .run_text h3 {
    font-size: 32px;
  }
  #run > .container .img {
    width: 100%;
  }
  #run > .container .img img {
    height: 100%;
  }
  #run .cmn_btn {
    width: 100%;
    margin-bottom: 38px;
  }
  /* ======run part end===== */

  /* ======calculator part start===== */
  #calculator > .container {
    width: 65%;
  }
  #calculator > .wrap_container > .container {
    flex-direction: column;
    align-items: start;
  }
  #calculator > .wrap_container .bmi {
    width: 100%;
    margin-top: 42px;
  }
  #calculator > .wrap_container .grid_parent .field {
    width: 100%;
  }
  /* ======calculator part end===== */

  /* ======team part start===== */
  #team > .container .cmn_text > p {
    width: 100%;
  }
  #team > .container .grid_parent {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
  }
  /* ======team part end===== */
  /* ======= footer part start ======== */
  footer > .container {
    grid-template-columns: repeat(2, 1fr);
  }
  footer > .container > .text_div {
    width: 100%;
    margin-bottom: 20px;
    grid-column: span 2;
  }
  /* ======= footer part end ======== */
}
@media screen and (max-width: 576px) {
  /* share style */
  .container {
    width: 65%;
  }
  /* ======nav part start===== */
  .menu_barIcon {
    display: block;
  }
  nav > .container ul {
    display: none;
  }
  /* ======nav part end===== */

  /* ======banner part start===== */
  #banner > .container {
    flex-direction: column;
  }
  .cmn_btn {
    width: auto;
    padding: 16px 20px;
    font-size: 1rem;
  }
  #banner > .container > .bannner_text {
    width: 100%;
  }
  #banner > .container > .bannner_text h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 1.1;
  }
  #banner > .container > .bannner_text h1 > span {
    font-size: 72px;
  }
  .box_txt1 {
    position: absolute;
    width: 145px;
    height: 74px;
    left: 54%;
    top: 20px;
  }
  .box_txt2 {
    width: 155px;
    height: 73px;
    bottom: 42%;
    left: 0%;
  }
  .box_txt1 h3 {
    font-size: 30px;
  }
  .box_txt1 p {
    font-size: 10px;
  }
  .box_txt2 h3 {
    font-size: 18px;
  }
  .box_txt2 p {
    font-size: 12px;
  }
  .box_txt2 > .circle i {
    display: block;
    color: var(--primary_color);
  }

  .cmn_text > h3 {
    color: var(--primary_color);
    font-size: 32px;
    font-weight: 900;
  }
  /* ======banner part end===== */

  /* ====aout_us part start ======= */
  #about_us > .container {
    flex-direction: column;
    text-align: center;
  }
  #about_us > .container .img_div {
    width: 100%;
  }
  #about_us > .container .text_div {
    width: 100%;
  }
  #about_us > .container .text_div > h2 {
    font-size: 24px;
  }
  .about_btn {
    margin: 0 auto;
  }
  /* ====aout_us part end ======= */

  /* ======habbit part start===== */
  .cmn_text > h3 {
    font-size: 32px;
  }
  #habbit > .container .cmn_text > p {
    width: 100%;
  }
  #habbit > .container .parent_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  #habbit > .container .parent_grid > div {
    width: 231px;
    margin: 0 auto;
  }
  /* ======habbit part end===== */

  /* ======run part start===== */
  #run > .container {
    flex-direction: column;
  }
  #run > .container > .run_text {
    width: 100%;
  }
  #run > .container > .run_text h3 {
    font-size: 32px;
  }
  #run > .container .img {
    width: 100%;
  }
  #run .cmn_btn {
    width: 100%;
    margin-bottom: 38px;
  }
  /* ======run part end===== */

  /* ======calculator part start===== */
  #calculator > .container {
    width: 65%;
  }
  #calculator > .wrap_container > .container {
    flex-direction: column;
    align-items: start;
  }
  #calculator > .wrap_container .bmi {
    width: 100%;
    margin-top: 42px;
  }
  #calculator > .wrap_container .grid_parent .field {
    width: 100%;
  }
  /* ======calculator part end===== */
  /* ======team part start===== */
  #team > .container .cmn_text > p {
    width: 100%;
  }
  #team > .container .grid_parent {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }
  /* ======team part end===== */
  /* ======= footer part start ======== */
  footer > .container {
    grid-template-columns: repeat(1, 1fr);
  }
  footer > .container > .text_div {
    width: 100%;
    margin-bottom: 20px;
  }
  /* ======= footer part end ======== */
}
